.spacer {
  flex: 1 1 auto;
}

nav {
  display: flex;
  gap: 0.5rem;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.main-content {
  padding: 2rem;
  min-height: calc(100vh - 64px);
}
